@model IEnumerable<FindYourPod.ViewModels.FinViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="ui two stacking doubling cards" style="margin:20px;width:100%">
    @foreach (var item in Model)
    {
    <div class="ui card" style="min-height:300px">
        <div class="content">
            <img class="ui massive avatar image floated right" src="https://www.gravatar.com/avatar/@item.GravitarHash"/>
            <div class="header">@item.Name</div>
            <div class="meta">@item.Office</div>
            <div class="ui move reveal">
                <div class="visible content" style="min-height:300px">
                    <div class="ui top attached blue label">
                        Usernames
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="ui middle aligned list">
                        @foreach(var gamername in item.Gamernames) { 
                        <div class="item">
                            <img class="ui avatar image" src="~/images/@(gamername.Platform).png" />
                            <div class="content">@gamername.Username</div>
                        </div>
                        }
                    </div>
                </div>
                <div class="hidden content" style="min-height:300px">
                    <div class="ui vertical segment">
                        <div class="content">
                            <div class="ui attached blue label">About Me</div>
                            <p> <br />@item.AboutMe</p>
                        </div>
                    </div>
                    <div class="ui vertical segment">
                        <div class="ui attached blue label">Favorite Games</div>
                        <p> <br/> @item.FavoriteGames</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

